body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	min-width: 100vw;
	color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M9 1080L1089 0L1963.5 0L883.5 1080z' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/path%3e%3cpath d='M684.6 1080L1764.6 0L2121.6 0L1041.6 1080z' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/path%3e%3cpath d='M1878 1080L798 0L-139.5 0L940.5 1080z' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/path%3e%3cpath d='M1162.4 1080L82.40000000000009 0L-336.0999999999999 0L743.9000000000001 1080z' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/path%3e%3cpath d='M903.2585600009063 1080L1920 63.2585600009063L1920 1080z' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/path%3e%3cpath d='M0 1080L1016.7414399990937 1080L 0 63.2585600009063z' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1043'%3e%3cstop stop-color='rgba(65%2c 109%2c 70%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(65%2c 109%2c 70%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1044'%3e%3cstop stop-color='rgba(65%2c 109%2c 70%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(65%2c 109%2c 70%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

code {
	font-family: 'Roboto', sans-serif;
}
