h1 {
	margin: 0.2rem;
	font-size: 7rem;
	text-shadow: 0 0 10px #444, 0 0 10px #444, 0 0 10px #444;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 4rem;
	}
}

h2 {
	font-size: 3rem;
	margin: 0rem;
	text-shadow: 0 0 10px #444, 0 0 10px #444, 0 0 10px #444;
}

@media screen and (max-width: 768px) {
	h2 {
		font-size: 1rem;
	}
}

.home {
	margin: 1rem;
	z-index: 1;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.activity {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.fondo {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

.fondo img {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	height: 100vh;
	height: 100vh;
}

@media screen and (min-width: 768px) {
	.fondo img {
		width: 100vw;
	}
}


.home {
	display: flex;
	gap: 1rem;
}

.home button {
	font-size: 1.2rem;
	color: white;
	text-shadow: 0 0 5px #444, 0 0 5px #444, 0 0 5px #444;
	padding: 0.5rem 3rem;
	border: 2px solid rgb(255, 255, 232);
	border-radius: 2rem;
	background-color: transparent;
}

.home button:hover {
	box-shadow: 0 0 1rem rgb(255, 255, 232);
}

.activity {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.activitiesCards {
	display: flex;
	gap: 1rem;
}

.detailCards {
	max-width: 80vw;
}
