.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	width: 22rem;
	height: 22rem;
	border-radius: 2rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='500' preserveAspectRatio='none' viewBox='0 0 500 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1329%26quot%3b)' fill='none'%3e%3crect width='500' height='500' x='0' y='0' fill='url(%23SvgjsLinearGradient1330)'%3e%3c/rect%3e%3cpath d='M0 0L84.45 0L0 200.61z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 200.61L84.45 0L234.55 0L0 243.60000000000002z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 243.60000000000002L234.55 0L347.92 0L0 283.79z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 283.79L347.92 0L348.6 0L0 407.61z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M500 500L473.56 500L500 257.53999999999996z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M500 257.53999999999996L473.56 500L320.13 500L500 256.08z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M500 256.08L320.13 500L142.26 500L500 239.27999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M500 239.27999999999997L142.26 500L57.58999999999999 500L500 187.71999999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1329'%3e%3crect width='500' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1330'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 29%2c 133%2c 0.72)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='396' height='396' preserveAspectRatio='none' viewBox='0 0 396 396'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='396' height='396' x='0' y='0' fill='rgba(10%2c 37%2c 65%2c 1)'%3e%3c/rect%3e%3cpath d='M45 396L441 0L726 0L330 396z' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/path%3e%3cpath d='M348 396L-48 0L-405 0L-9 396z' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/path%3e%3cpath d='M160.07906270936232 396L396 160.07906270936232L396 396z' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/path%3e%3cpath d='M0 396L235.92093729063768 396L 0 160.07906270936232z' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='396' height='396' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1043'%3e%3cstop stop-color='rgba(34%2c 255%2c 5%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(34%2c 255%2c 5%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1044'%3e%3cstop stop-color='rgba(34%2c 255%2c 5%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(34%2c 255%2c 5%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
	/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M9 1080L1089 0L1963.5 0L883.5 1080z' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/path%3e%3cpath d='M684.6 1080L1764.6 0L2121.6 0L1041.6 1080z' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/path%3e%3cpath d='M1878 1080L798 0L-139.5 0L940.5 1080z' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/path%3e%3cpath d='M1162.4 1080L82.40000000000009 0L-336.0999999999999 0L743.9000000000001 1080z' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/path%3e%3cpath d='M903.2585600009063 1080L1920 63.2585600009063L1920 1080z' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/path%3e%3cpath d='M0 1080L1016.7414399990937 1080L 0 63.2585600009063z' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1043'%3e%3cstop stop-color='rgba(65%2c 109%2c 70%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(65%2c 109%2c 70%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1044'%3e%3cstop stop-color='rgba(65%2c 109%2c 70%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(65%2c 109%2c 70%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
}

@media screen and (max-width: 1024px) {
	.card {
		height: 10rem;
		width: 10rem;
	}
}

.card:hover {
	box-shadow: 0px 0px 15px rgb(255, 255, 232);
}

.card img {
	border-radius: 10px;
	border: 1px solid white;
	max-width: 20rem;
	max-height: 16rem;
}
.card h3 {
	font-size: 2rem;
	font-weight: bold;
	margin: 0.1rem;
}

@media screen and (max-width: 1024px) {
	.card h3 {
		font-size: 1rem;
	}
}

.card h4 {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0.1rem;
}
@media screen and (max-width: 1024px) {
	.card h4 {
		font-size: 0.8rem;
	}
}

.containerImage {
	position: relative;
	transition: all 0.3s ease;
}

.containerImage:hover {
	transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}
.containerImage::before {
	content: '';
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	border-radius: 1rem;
	background-image: linear-gradient(
		to bottom,
		transparent 1%,
		rgba(0, 0, 0, 0.1) 50%,
		rgba(0, 0, 0, 0.3) 95%
	);
	opacity: 0;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.containerImage::before {
		width: 72%;
	}
}

.containerImage:hover::before {
	opacity: 1;
}

.containerImage .messi {
	position: absolute;
	border: none;
	width: 8rem;
	bottom: 0;
	right: 30%;
	transition: 0.3s ease;
	opacity: 0;
}
.containerImage:hover .messi {
	opacity: 0.9;
}

@media screen and (max-width: 1024px) {
	.containerImage .messi {
		width: 3rem;
		right: 35%;
	}
}

@media screen and (max-width: 1024px) {
	.bandera {
		width: 70%;
	}
}

@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	10%,
	30%,
	50% {
		transform: rotate(-5deg);
	}
	70%,
	90% {
		transform: rotate(-2deg);
	}
	20%,
	40% {
		transform: rotate(5deg);
	}
	60%,
	80% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.shake {
	animation: shake 1s;
}
